@import url(http://fonts.googleapis.com/css?family=Oswald);

* {
  margin: auto;
}

<<<<<<< Temporary merge branch 1


  
=======
.questions {
width: 500px;
height: 180px;
border: solid black 2px;
}
>>>>>>> Temporary merge branch 2

.questions {
width: 500px;
height: 180px;
border: solid black 2px;
}


ul {
  background-color: #F7921E;
  border-bottom: solid black;
  border-width: 10px;
  height: 100px;
  word-spacing: 70px;
  text-align: center;
}

a {
  font-family: Oswald;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color:black;
  transition: ease-out 0.2s;
}
  

li {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  transition: ease-out 0.5s;
}
 
a:hover {
  background-color: black;
  color: white;
  padding-top: 500px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  transition: ease-out 0.5s;
}
.image{
  display:inline-block;
}



/* prov Classes */
 .quizContainer {
    background-color: grey;
    border-radius: 6px;
    width: 75%;
    margin: auto;
    padding-top: 5px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    position: relative;
}
.nextButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: white;
    /*clear: both;*/
    color: black;
    font-family:'Rokkitt', serif;
    position: relative;
    margin: auto;
    padding-top: 20px;
}
.question {
    font-family:'Rokkitt', serif;
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: grey;
    text-align: center;
}
.quizMessage {
    background-color: peachpuff;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family:'Rokkitt', serif;
    color: red;
}
.choiceList {
    font-family: Courier, serif;
    color: black;
}
.result {
    width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    text-align: center;
    font-family:'Rokkitt', serif;
}
.questionnr{
	width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    text-align: center;
    font-family:'Rokkitt', serif;
}
.message{
		width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    text-align: center;
    font-family:'Rokkitt', serif;
	
}

@import url(http://fonts.googleapis.com/css?family=Rokkitt);
 h1 {
    font-family:'Rokkitt', serif;
    text-align: center;
}
ul {
    list-style: none;
}
li {
    font-family:'Rokkitt', serif;
    font-size: 2em;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}
p {
    font-family:'Rokkitt', serif;
}

.doneTestsList{
    max-height: 80vh;
    overflow-y: scroll;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px;
	margin-right:25px;
    
}

.teachReadtest{ 

} 

@media only screen and (max-width: 667px) and (min-width: 375px) {
    .doneTestsList{
		max-height: 50vh;
		margin-right:0px;
    }
	.image{
		display: none;
	}
		
}

