@import url(http://fonts.googleapis.com/css?family=Oswald);
#navbar ul {
  background-color: #F7921E;
  border-bottom: solid black;
  border-width: 10px;
  height: 100px;
  word-spacing: 70px;
  text-align: center;
}

#navbar a {
  font-family: Oswald;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color:black;
  transition: ease-out 0.2s;
}
  

#navbar li {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  transition: ease-out 0.5s;
}
 
#navbar a:hover {
  background-color: black;
  color: white;
  padding-top: 500px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  transition: ease-out 0.5s;
}
#navbar .image{
  display:inline-block;  
}

.studClassesMailChoice{
    max-height: 80vh;
    overflow-y: scroll;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px;
	margin-right:25px;    
}