ul li{
	text-decoration: none;
	color:black;
	font-size:26px;
	font-family: 'Oxygen', sans-serif;
	padding:0 15px;
	background-color:FF8000;
	margin-bottom:3px;
	list-style:none;
	display:inline;
}
#hem{
	margin:20px;;
}
nav{
	background-color:#F7921E;
}
a{
  text-decoration:none;
  color:black;
  padding:25px;
  display:inline;
}
li:hover, li:active{
	background-color:gold;
}
body{
	background:lightgray;
}