elevView.addTemplate('default',function(){return `
  <div class="quizContainer">	
  
		<form class="mail">
		  email: <input type="text" class="email">
		  <input class="btn btn-default" type="submit" value="Submit">
		</form> 

         <h1>Välkommen till Newton!</h1>
		<div class="questionnr"></div>
        <div class="question"></div>
        <ul class="choiceList"></ul>
        <div class="message"></div>
        <div class="result"></div>
        <button type="button" class="nextButton btn btn-primary">Primary</button>
        <br>
    </div>
`});