elevView.addTemplate('default',function(){return `

  <div class="startaTest well">
    <h1>Välkommen till Newtons test!</h1>
	<form class="mail">
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">@</span>
	  <input type="text" class="form-control email" placeholder="Ange email" aria-describedby="basic-addon1">
	</div>
	<button type="button submit" value="Starta test" class="btn btn-default emailButton">Starta provet</button>
	</form> 
	
	
	

  </div>

  <div class="quizContainer well">		

         
		<div class="questionnr"></div>
        <div class="question"></div>
        <ul class="choiceList"></ul>
        <div class="message"></div>
        <div class="result"></div>
        <button type="button" class="btn btn-primary nextButton">Nästa fråga</button>
        <br>
  </div>

  
  <div class="timercontainer">  
    <div class="alert alert-success" role="alert">
      <strong>Testet är aktivt i 60 minuter.</strong> Dina svar skickas in automatiskt när tiden är ute eller när du är färdig och klickar på "Submit".
    </div>
    
    <div class="alert alert-warning" role="alert">
      <article class="timerMsg">
      </article>
    </div>
    
    <div class="alert alert-danger" role="alert">
      <strong>Tiden för testet har gått ut.</strong> Dina svar har sparats.
    </div>
  </div>
`});