MailView.addTemplate('default',function(){return `
	<div class="container">
	<ul class="klassLista">
	<!-- ${this.klassList.display()} -->
	 <select class="dropDown">
<option></option>

</select>
	
	</ul>
	<button type="button" onclick="länkTillElevView()" class="btn btn-default" id="sendLinkButton">Skicka Länk</button>
	<!-- <label class="MarkAllButton"><input type="checkbox" id="checkAll"/>Check all</label> -->
	<p id="errorMessage"></p>
	<ul class="mailLista">
	</ul>
	</div>
`});