mejlView.addTemplate('default',function(){return `
<div class="container-classes-genButton col-md-3">
	<div class="list-group chooseKlass col-sm-12">
	${this.klass.display()}
	</div>
	
		<div class="generateMailButton btn-group col-sm-6" role="group" aria-label="...">	 
			  <button type="button" class="generateURL btn btn-default" onclick="länkTillElevView()">Generera URL</button>
		</div>
	
	<div class="MarkAllAdresses btn-group col-sm-6" role="group" aria-label="...">	
			<label class="MarkAllButton"><input type="checkbox" id="checkAll"/>Check all</label>
	</div>
		<p id="errorMessage"></p>
	</div>	

<div class="container-AdressesList col-md-8">
	<form>
		<ul class="MailAdressesList list-group col-sm-12" role="group" aria-label="...">
		${this.Mejl.display()}
		</ul>
	</form>
</div>
`});
