mailView.addTemplate('default', function(){return `


<div class="container-classes-genButton col-md-3">

	<div class="list-group studClassesMailChoice col-sm-12">
	</div>
	
	<div class="generateMailButton btn-group col-sm-6" onclick="länkTillElevView()" role="group" aria-label="...">	  
	</div>
	<div class="copyMailListButton btn-group col-sm-6" role="group" aria-label="...">	  
	</div>
	<p id="errorMessage"></p>
</div>

<div class="container-tempMailAdressesList col-md-8">
<form>
	<ul class="tempMailAdressesList list-group col-sm-12" id="lista" role="group" aria-label="...">
	</ul>
</form>
</div>
`});

