mailView.addTemplate('default', function(){return `


<div class="container-classes-genButton col-md-3">

	<div class="list-group studClassesMailChoice col-sm-12">
		<button type="button" class="btn-klass">KlassLista</button>
		<button type="button" class="btn-klass">JAVA</button>
		<button type="button" class="btn-klass">JavaScript</button>
		<button type="button" class="btn-klass">JavaScript2</button>
		<button type="button" class="btn-klass">HTML/CSS SnabbKurs</button>
		<button type="button" class="btn-klass">JAVA2</button>
		<button type="button" class="btn-klass">JAVA3</button>
	</div>
	
	<div class="generateMailButton btn-group col-sm-6" role="group" aria-label="...">	 
			  <button type="button" class="generateURL btn btn-default" onclick="länkTillElevView()">Generera URL</button>
	</div>
	<div class="copyMailListButton btn-group col-sm-6" role="group" aria-label="...">	
			  <label class="MarkAllButton"><input type="checkbox" id="checkAll"/>Check all</label>
	</div>
			  <p id="errorMessage"></p>
	</div>

<div class="container-tempMailAdressesList col-md-8">
<form>
	<ul class="tempMailAdressesList list-group col-sm-12" role="group" aria-label="...">
	 
		<li><label class="alternativ"><input type="checkbox"><span id="email-font">..@email.com</span></label></li>
		<li><label class="alternativ"><input type="checkbox"><span id="email-font">...@email.com</span></label></li>
		<li><label class="alternativ"><input type="checkbox"><span id="email-font">...@email.com</span></label></li>
		<li><label class="alternativ"><input type="checkbox"><span id="email-font">..@email.com</span></label></li>
		<li><label class="alternativ"><input type="checkbox"><span id="email-font">..@email.com</span></label></li>
		<li><label class="alternativ"><input type="checkbox"><span id="email-font">..@email.com</span></label></li>
		<li><label class="alternativ"><input type="checkbox"><span id="email-font">..@email.com</span></label></li>
		<li><label class="alternativ"><input type="checkbox"><span id="email-font">..@email.com</span></label></li>
  
	</ul>
</form>
</div>
`});

