PetOwner.addTemplate('default', function(){return `
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading pet-owner-name">
          <h3 class="panel-title"> 
            <span class="glyphicon glyphicon-user"></span>
            <input style="color:#000" data-bind="name" type="text" value="${this.name}">&nbsp;
            <span data-click="talk">${this.name}</span>
            <span class="pull-right">Age: ${this.age}</span>
          </h3>
        </div>
        <div class="panel-body">
          ${this.pets.display()}
        </div>
      </div>
    </div>
  </div>
`});