teacherView.addTemplate('default', function(){return `
<div class="list-group doneTestsList col-sm-3">
  <button type="button" class="btn-elev">ELEVLISTA</button>
  <button type="button" class="btn-elev">Ali</button>
  <button type="button" class="btn-elev">Louise</button>
  <button type="button" class="btn-elev">Dijana</button>
  <button type="button" class="btn-elev">Masoud</button>
  <button type="button" class="btn-elev">Henrik</button>
  <button type="button" class="btn-elev">Magnus</button>
</div>

<div class="list-group teachReadtest col-sm-8">
  <button type="button" class="btn-prov" id="doneTest">Färdiga prov</button>
  <button type="button" class="btn-prov" id="doneTest1">ProvNamn: JAVA1</button>
  <button type="button" class="btn-prov" id="doneTest2">ProvNamn: Java2</button>
  <button type="button" class="btn-prov" id="doneTest3">ProvNamn: JavaScript</button>
</div>
 <div class="list-group displayDoneTest col-sm-8">
  <h2>Färdigt prov</h2>
 <h4>Namn: </h4>
 <h4>Prov:</h4>
 <h4>Datum:</h4>
 </div>
`});		