teacherView.addTemplate('default', function(){return `
<div class="list-group doneTestsList col-sm-3">
  <button type="button" class="btn-prov">Färdiga prov</button>
  <button type="button" class="btn-prov">ProvNamn: JAVA1 Elev: Magnus</button>
  <button type="button" class="btn-prov">ProvNamn: Java2 Elev: Magnus</button>
  <button type="button" class="btn-prov">ProvNamn: JavaScript Elev: Henrik</button>
  <button type="button" class="btn-prov">ProvNamn: JAVA1 Elev: Ali</button>
  <button type="button" class="btn-prov">ProvNamn: JAVA1 Elev: Louise</button>
  <button type="button" class="btn-prov">ProvNamn: JAVA1 Elev: Masoud</button>
</div>

<div class="list-group teachReadtest col-sm-8">
</div>

 <div class="list-group displayDoneTest col-sm-8">
  <h2>Färdigt prov</h2>
 <h4>Namn: </h4>
 <h4>Prov:</h4>
 <h4>Datum:</h4>
 </div>
`});		